{# bevestiging.twig #}
{% extends 'main.twig' %}
{% block content %}
{% if user %}
<h1>Bedankt {{ user.voornaam }} voor uw bestelling.</h1>
<p>
<ul>
    {% for product in bestelling.items %}
        <li>{{product.aantal}} x {{product.productId.titel}} à {{product.b_prijs}} &euro;.
    {% endfor %}
</ul>
    Totaal : {{ bestelling.bedrag }} &euro;  
</p>
Word verzonden naar :
<p>
<ul>
    <li>{{bestelling.user_id.voornaam}} {{bestelling.user_id.naam}}
    <li>{{bestelling.user_id.adres}}
    <li>{{bestelling.user_id.plaats.postcode}} {{bestelling.user_id.plaats.gemeente}}
</ul>
{% else %}
    Wat doe gij ier ?
    {% endif %}
    {% endblock %}
       