{% extends 'main.twig' %}

    {% set active_page = page|capitalize %}
    
{% block content %}
     <h2>Deze site is een VDAB PHP Project Demo-site.</h2>
    <article>
        <p>Deze site is tot stand gekomen als aanvulling op de cursus PHP, om wat getoond werd in de cursus eens te toetsen aan de praktijk.<br>
        Daar dit een demo-site is zullen aankopen dus niet verwerkt worden.
        </p>
    </article>
    </div>
         <div class="container">
        <div class="col-sm-6 product-lijst">
            <div class="boeken">
                Nieuwste boeken
            </div>
               
            <ul> 
                {% for boek in boekenlijst %}
                    <li class="product-lijst">{{boek.titel}} van {{boek.auteur}} <strong>{{boek.prijs}} &euro;</strong>
                {% endfor %}
            </ul>
        </div>
            <div class="col-sm-6 product-lijst">
            <div class="films">
            Nieuwste films
            </div>
                <ul>
                {% for film in filmlijst %}
                    <li class="product-lijst">{{film.titel}} <strong>{{film.prijs}} &euro;</strong>
                {% endfor %}
            </ul>
            </div>
{% endblock %}