{# productlist.template.twig #}

        <section class="col-xs-12 col-sm-9 product-lijst">
{#<h1 class="bg-info">u bevind zich <a href="index.php?id={{page}}">{{page}}</a>{%if type %}<a href="index.php?id={{page}}&type={{type}}"> / {{type|capitalize}}</a>{%endif%}</h1>#}
<div class="col-xs-5"><strong><a href="{{ current_url }}&orderby=titel">Titel</a></strong></div>
<div class="col-xs-4"><strong>Genre</strong></div>
<div class="prijstabel col-xs-2"><strong><a href="{{ current_url }}&orderby=prijs">Prijs</a></strong></div>
            <ul>     
                {% for product in productlijst %}
                    <li class="product-lijst">   
            <div class="col-xs-5">{{product.titel}} ({% if type == 'boeken' %}{{ product.auteur }}{% else %}{{product.speelduur}} min.{%endif%})</div>
            <div class="col-xs-4">{{product.genre.omschrijving}}</div>
            <div class="prijstabel col-xs-2">{{product.getPrijs}}&euro;</div>
            <div class="col-xs-1"><a href="updateCart.php?actie=toevoegen&id={{ product.id }}&returnurl={{ current_url }}">
                    <span class="glyphicon glyphicon-shopping-cart"></span></a>
                </div>
                    </li>
            {% endfor %}
                </ul>
                <br />
                &nbsp;
                <br />
                {% if user.admin == 1 %}
                    
                Of voeg een artikel toe :
                <br />&nbsp;<br />
                <form role="add" method="post" action="admin.php">
                    <input type="hidden" name="product" id="product" value="{{type}}">
                    <input type="hidden" name="return_url" id="return_url" value="{{current_url}}">
                    <input type="text" name="titel" id="titel" placeholder="titel">
                    {% if type == "boeken" %}
                    <input type="text" name="auteur" id="auteur" placeholder="auteur">
                    {%elseif type == "films" %}
                        <input type="number" name="speelduur" id="speelduur" placeholder="90">min
                    {%endif%}
                       
                    <select name="genre" id="genre">
                        {% for genre in genrelijst %}
                            <option value="{{genre.id}}">{{genre.omschrijving}}</option>
                            {% endfor %}
                    </select>
                    <input type="number" name="prijs" id="prijs" step="0.01" placeholder="0.00">
                    <button class="btn btn-primary" type="submit">toevoegen</button>
                </form>
                    
                    {% endif %}
                    
        </section>