{% extends 'main.twig' %}
{% block content %}
    <section class="product-lijst col-xs-12 col-sm-8">
    <h1 class="bg-info">Uw gekozen producten :</h1>
    <div class="col-xs-2"><strong>Aantal</strong></div>
    <div class="col-xs-6"><strong>Titel</strong></div>
    <div class="col-xs-4"><strong>Prijs</strong></div>
    <ul>
    {% for item in cartItems %}
        <li class="product-lijst">
            <div class="col-xs-2">{{ item[1] }}x</div>
            <div class="col-xs-6">{{item[0].titel}}</div>
            <div class="col-xs-4">{{item[0].prijs}} &euro;</div>
        </li>
        {% endfor %}
    </ul>
    <p>&nbsp;</p>
    <strong>Totaal : {{countItems}} items {{totaal}} &euro;</strong><br />
    <h1 class="bg-info">Verzendgegevens :</h1>
    
        {% if user %}
           
            {{user.voornaam}} {{user.naam}}<br />
            {{user.adres}}<br />
            {{user.plaats.postcode}} {{user.plaats.gemeente }}<br />
            {% else %}
                <div id="loginform">
                    <form role="login" method="post" action="login.php">
                        <input type="text" style="margin:10px;" name="email" id="email" placeholder="e-mail"/>
                        <input type="password" style="margin:10px;" name="password" id="password" placeholder="wachtwoord"/>
                        <input type="submit" class="btn btn-primary" style="margin:10px;" name="submit" value="Inloggen">
                    </form>
                </div>
                Nog geen account? registreer u dan <a href="index.php?id=registreer">hier</a>. <br />
             
            {%endif%}
            {% if user %}
    <button class="btn btn-primary" role="button">Bevestigen</button>
            {% else %}<div class="fake-btn">Bevestigen</div>
                {% endif %}
    <a href="updateCart.php?reset=1"><button class="btn btn-primary" role="button">Wissen</button></a>
    </section>
{% endblock %}
